<div data-role="view" data-title="PC List View" data-layout="main" data-model="models.pcAvailabilityFullList" data-show="models.pcAvailabilityFullList.onShow" data-stretch="true">
    <h1 data-bind="html: title"></h1>
    <ul id="pcAvailabilityListFull" data-role="listview" datasource="PcAvailability.dataSource" data-template="pcFullListTemplate"></ul>


</div>

<script type="text/x-kendo-template" id="pcFullListTemplate">

    
            <h2 class="BuildingId">#: BuildingId #</h2>
       

</script>