<!-- <script>
        var viewModel = kendo.observable({
          onSelect: function(e) {
              var current = e.sender.current(),
                  navigateTo = current.data("navigateTo");

              app.mobile.navigate(navigateTo);
          }
        });
</script>-->

<div id="PCMapView" data-role="view" data-title="PC Map View" data-layout="main" data-model="models.leafletMap" data-init="models.leafletMap.onInit" data-show="models.leafletMap.onShow" data-stretch="true" data-reload="true">
    <div id="map"></div>
    <!--
    <div id="map-drawer-container" style="position: absolute; left:0; bottom: -80px;">
        <div id="map-drawer">
            <div data-click="window.Maps.toggleOptions" data-role="button" id="drawer-toggle">
                <img src="images/maps/details-arrow.png" alt="" />
            </div>
            <div>
                Bike Storage/Lockers
                <input type="checkbox" data-role="switch" data-bind="checked: showingBikes" data-change="app.mapView.toggleBikes" />
            </div>
            <div>
                Recycling Locations
                <input type="checkbox" data-role="switch" data-bind="checked: showingRecycling" data-change="app.mapView.toggleRecycling" />
            </div>
        </div>
    </div>-->

   <!-- <footer data-role="footer">
        <ul data-role="buttongroup" data-index="0" data-bind="events: { select: onSelect }">
            <li data-navigate-to="views/pcAvailabilityLeafletMap.html">Map</li>
            <li data-navigate-to="views/pcAvailabilityFullList.html">List</li>
        </ul>
    </footer>-->
</div>