<div data-role="view" data-title="Settings" data-layout="main" data-model="models.settings" data-bind="source: dataSource" data-show="models.settings.onShow">
    <div style="margin-top: 50px; margin-left: 10px; margin-right: 10px;">

        <div style="margin-top: 20px;">
            <label>Update Pc Availability (minutes)</label> <input type="number" min="0" max="120" id="mapRefreshMinutes" />
        </div>
        <div style="margin-top: 20px;">
            <label>Update Cluster Count (minutes)</label> <input type="number" min="0" max="120" id="refreshClusterInfo" />
        </div>
        <div style="margin-top: 20px;">
            <label>Local Cache Size</label> <span id="localCacheSize"></span> <a href="#" id="clearCacheButton">Clear Cache</a>
        </div>
        <button style="margin-top: 20px; float: right; margin-right: 20px;" onclick="javascript: models.settings.save();">Save</button>
    </div>
</div>