<div data-role="view" data-title="Twitter" data-layout="main" data-reload="true">
    <h1 data-bind="html: title"></h1>



    <a class="twitter-timeline" href="https://twitter.com/uobservicedesk" data-widget-id="661535777747304448">Tweets by @uobservicedesk</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>


