<div data-role="view" data-title="PC Clusters" data-layout="back" data-model="models.pcClusters.Buildings" data-show="models.pcClusters.Buildings.onShow">
    <h1 id="buildingsMainTitle" data-bind="html: title"></h1>
    <ul id="pcBuildings" data-role="listview" data-template="pcBuildingTemplate"></ul>
</div>

<script type="text/x-kendo-template" id="pcBuildingTemplate">

    <div onclick="javascript: app.mobile.navigate('/views/pcClusters/pcClusters.html?buildingId=' + #:ContentId#);">
        <div style="float: left; margin-right: 10px;" id="AvailablePCs">#: AvailablePCs #</div><h2> #: BuildingName # </h2> 
        <div id="NumberOfClusters" style="font-size: small;">#: AvailablePCs # PCs available across #: NumberOfClusters #   # if(NumberOfClusters == 1) { # cluster # } else { # clusters  # } #</div>
    </div>


</script>

