<div data-role="view" data-title="PC Clusters" data-layout="back" data-model="models.pcClusters.Clusters" data-show="models.pcClusters.Clusters.onShow" data-reload="true">
    <h1 id="clustersMainTitle" data-bind="html: title"></h1>
    <div id="clusterMap"></div>
    <ul id="pcClusters" data-role="listview" data-template="pcClusterTemplate"></ul>
</div>

<script type="text/x-kendo-template" id="pcClusterTemplate">
    # var pcCountColour = PcClusterService.CalculateAvaiabilityColour(NoOfPcsFree) #
    <div>
        <div style="float: left; margin-right: 20px;" id="AvailablePCs">
            <span class="fa-stack fa-3x">
                <i class="fa fa-desktop fa-4x fa-stack-2x" style="color: #= pcCountColour #"></i>
                <strong class="fa-stack-1x home-pc-count-text" style="color: #= pcCountColour #"> #: NoOfPcsFree # </strong>
            </span>
        </div>
        <div><h3> #: FacilityName #</h3></div>
        <div style="float:right;">
            <i class="fa fa-star-o fa-4x" style="color: darkgoldenrod;"></i>
        </div>
    </div>


</script>

