<div data-role="view" data-title="PC Clusters" data-layout="back" data-model="models.pcClusters.Clusters" data-show="models.pcClusters.Clusters.onShow" data-reload="true">
    <h1 id="clustersMainTitle" data-bind="html: title"></h1>
    <ul id="pcClusters" data-role="listview" data-template="pcClusterTemplate"></ul>
</div>

<script type="text/x-kendo-template" id="pcClusterTemplate">

    <div>
        <div style="float: left; margin-right: 10px;"> </div>
        <h2> #: FacilityName #</h2>
        <div>
           
            # if(NoOfPcsFree == 0) { #

            <i class="fa fa-desktop" style="margin-right: 10px; color: red;"></i>
            <span style="color: red;"> #: NoOfPcsFree # PCs free </span>

            # } else { #

            <i class="fa fa-desktop" style="margin-right: 10px; color: green;"></i>
            <span style="color: green;"> #: NoOfPcsFree # PCs free </span>

            #} #


        </div>
    </div>


</script>

